In [ ]:
#Analyzing_Numerical_series

In [1]:

import pandas as pd

In [2]:
titanic=pd.read_csv('C:/Users/HP/Documents/script/2.1 Course_Materials_Part1/Course_Materials_Part1/Video_Lecture_NBs/titanic.csv')

In [12]:
titanic

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [11]:
age.unique()

AttributeError: 'DataFrame' object has no attribute 'unique'

In [8]:
titanic.age.nunique(dropna=True)

88

In [9]:
age.values_count()

NameError: name 'age' is not defined